/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		
		footer {
		background: rgb(102,51,102);
		clear: both;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
 	}
 
  		.copyright {
		margin-left: 10px;
		margin-right: 0;
	}
	
		.footernav {
		margin-left: 230px;
		margin-right: 270px;
	}
	
		.siteauthor {
		margin-left: 0;
		margin-right: 10px;
	}
	
		.mininav {
			width: 32%;
			display: none;
			text-align: center;
	}
	
	
	
	.group1 {
		height: 395px;
	}
	
	.group2 {
		height: 395px;
		padding-top: 50px;
		
	}
	
	.group3 {
		height: 395px;
		padding-top: 50px;
	}
	
	.group4 {
		height: 395px;
		padding-top: 50px;
	}
	
	.mobilelogo {
		display: none;
	}
	
	.call {display:none;}
	
	
	
 }

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		
		footer {
		background: rgb(102,51,102);
		clear: both;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
 	}
 
	 .copyright {
		margin-left: 10px;
		margin-right: 0;
	}
	
	.footernav {
		margin-left: 160px;
		margin-right: 160px;
	}
	
	.siteauthor {
		margin-left: 0;
		margin-right: 10px;
	}
	
	
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		
		footer {
		background: rgb(102,51,102);
		clear: both;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	 }
	 
		.copyright {
		margin-left: 10px;
		margin-right: 0;
	}
	
		.footernav {
		margin-left: 0px;
		margin-right: 0px;
	}
	
		.siteauthor {
		margin-left: 0;
		margin-right: 10px;
	}
	
	
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		
		footer {
		background: rgb(102,51,102);
		clear: both;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
 	}
	
	 	#aboutimg {
		margin-top: -50px;
		margin-bottom: 50px;
 }
 
		.copyright {
		margin-left: 10px;
		margin-right: 0;
	}
	
		.footernav {
		margin-left: 0px;
		margin-right: 0px;
		display: none;
	}
	
		.siteauthor {
		margin-left: 185px;
		margin-right: 10px;
	}
	
		
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
	
	body {
		background: url(../images/dark_exa.png);
		font: 14px/21px "Futura" , "Roboto Light", Helvetica, Arial, sans-serif;
		color: rgb(204,204,204);
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }
 
    nav {
		display: none;
 }
 
 	nav ul li {
		font-size: 18px;
		letter-spacing: 5px;
 }
 
 	nav ul li a:hover, a:focus {
		color: rgb(102,51,102);
 }
 
	.select {
		color: rgb(0,204,51);
 }
 
 	.list {
		display: list-item;
 }
 
 
 	.one-fourth column {
		margin-left: 0;
 }
 
 
 	#aboutimg {
		margin-top: -50px;
		margin-bottom: 50px;
 }
  
 	.purpletext {
		color: rgb(102,51,102);
 }
 
	footer {
		background: rgb(102,51,102);
		clear: both;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		position: fixed;
		bottom: 0px;
		left: 0px;
 }
 
 	footer ul {
		margin-left: auto;
		margin-right: auto;
 }
 
 	footer li {
		margin-left: auto;
		margin-right: auto;
 }
 
  	.copyright {
		margin-left: 10px;
		margin-right: 0;
		display: none;
	}
	
	.footernav {
		margin-left: 230px;
		margin-right: 270px;
		display: none;
	}
	
	.siteauthor {
		margin-left: 0;
		margin-right: 10px;
		display: none;
	}	
	
		.mininav {
			width: 32%;
			display: inline-block;
			text-align: center;	}

	
		form {
			display: none;
		}
		
		.contact {
			margin-bottom: 200px;
		}
		
		.filter {
			display: none;
		}
		
		.mobilelogo {
			display: inline;
		}
		
		.desktoplogo{
			display: none;
		}
		
		ul, ol {
			margin-bottom: 0px;
			padding: 0px;
		}
		
		.call {display:block;}
		
		
		}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/